*{
margin: 0;
padding: 0%;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
width: 100%;
}


nav {
position: sticky;
}


.carousel {
width: 100%;
height: 400px;
text-align: center;
justify-content: center;
}


.carousel .carousel-item{
width: 100%;
height: 400px;
}


.carousel .carousel-item img{
width: 100%;
}


.carousel .carousel-item .carousel-caption{
color: rgb(255, 255, 255);
font-size: x-large;
}


/* final cabecera y carrusel*/

#imagenytexto{
display: flex;
justify-content: center;
text-align: center;
}


#imagenytexto .texto{
    display: flex;
    flex-direction: column;
    align-content: left;
    width: 100%;
    margin: 2em;
    align-items: end;  
}


#imagenytexto .texto p{
    text-align: justify;
    margin-top: 2em;
    width: 70%;
    }


#imagenytexto img{
    width: 50%;
    margin: 2em;
    border-style: none;
    }


/* cabecera en productos*/
  .cabeceraarriba  {
        width: 100%;
        height: 100px;
        margin-bottom: 2em;
    }

.container {
margin: 2em;
z-index: -1;
}

.coralbabies {
width: 400px;
height: 400px;
background-image: url(../img/anillo_coral.jpg);
background-size: cover;
}

.anillofeo {
width: 400px;
height: 400px;
background-image: url(../img/anillos_metal.jpg);
background-size: cover;
}


/*------- COMENTARIOS---------*/

.container .card {
width:400px;
}


#formulariocomentarios {
justify-content: space-around;
height: 100%;
justify-content: center;
display: flex;
background-color: rgb(255, 255, 255);
}


#formulariocomentarios #elformulario {
width: 50%;
}


#formulariocomentarios .mb-3 {
width: 75%;
background-color: rgb(255, 255, 255);
margin-left: 3em;
justify-content: center;
}


#formulariocomentarios .mb-3 label {
width: 75%;
}

#formulariocomentarios .mb-3 input {
width: 75%;
}

#formulariocomentarios .mb-3 textarea {
width: 75%;
}
      
.btn{
    margin-left: 3em;
}

#liveAlertPlaceholder {
    width: 75%;
    margin-left: 3em;
}

#formulariocomentarios #opiniones{
width: 50%;
margin-right: 2em;
   }


#formulariocomentarios #opiniones .card  {

  margin-bottom: 1em;
    margin-right: 1.5em;
        }
    


 #btn-registro .modal-content{
width: 700px;
        }
    
   .modal-body {
    justify-content: space-around;
   }    


/* espacio para la contraseña */
  

   .modal-body .mb-3 {
 margin-top: 1em;
   } 


   footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background: linear-gradient(white, rgb(162, 162, 162));
   }


   footer figure {
    width: 20%;
    height: 100%;
    align-content: center;
   }


   footer figure img {
    width:10%;
   }


   /*---TAMAÑO RESPONSIVE PARA MOVIL--------------------------------------------------------------------------*/
   

   @media (max-width: 430px) {

    /*--QUIENES SOMOS--*/

    header {
        width: 50%;
        }
        

        nav {
        position: sticky;
        }

        .modal {
            width: 500px;
            height:800px;
            }
            

            .modal-dialog {
                width: 500px;
                height:800px;
                display: flex;
            }
            

            .modal-content {
                width: 500px;
            height:800px;
            }
        

        .carousel {
        width: 100%;
        height: 800px;
        text-align: center;
        }
        

        .carousel .carousel-item{
        width: 100%;
        height: 400px;
        }
        

        .carousel .carousel-item img{
        width: 100%;
        }
        

        /* final cabecera y carrusel*/
        

        #imagenytexto{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
        

        #imagenytexto .texto{
        
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            padding-right: 2em;
            width: 100%; 
        }
        
        
        
        #imagenytexto img{
            width: 100%;
            padding-left: 2em;
            padding-right: 2em;
            border-style: none;
            }
            
            #imagenytexto .texto{
                display: flex;
                flex-direction: column;
                align-content: left;
                width: 100%;
                margin: 2em;
                align-items: center;  
            }
            
            
            #imagenytexto .texto p{
                text-align: justify;
                margin-top: 2em;
                width: 80%;
                }

    /*--FINAL QUIENES SOMOS--*/

        /*--COMIENZO DE RESEÑAS--*/

        .container .card {
            width:200px;
            }
            
            #formulariocomentarios {
            justify-content: space-around;
            width: 100%;
            height: 100%;
            align-items: center;
            text-align: justify;
            align-items: center;
            display: flex;
            flex-direction: column;
            }
            
            #formulariocomentarios #elformulario {
                width: 50%;
                justify-content: center;
                background-color:rgb(255, 255, 255);
            }
            
            #formulariocomentarios .mb-3 {
            width: 340px;
            
            justify-content: center;
            }
            
            #formulariocomentarios .mb-3 label {
            width: 340px;
            
            
            
            }
            
            #formulariocomentarios .mb-3 input {
            width: 340px;
            
            
            
            
            }
            
            #formulariocomentarios .mb-3 textarea {
            width: 340px;
            
            
            
            
            }
                  
            .btn{
                margin-bottom: 1em;
            }
            
            #liveAlertPlaceholder {
                width: 340px;
                margin-left: 3em;
            } 
            
            #formulariocomentarios #opiniones   {
            width: 456px;
            background-color:rgb(255, 255, 255);
            align-items: center;
            margin: 0;
                padding-left: 2em;
                padding-right: 2em;
            }
            
            
            
            #formulariocomentarios #opiniones .card  {
                width: 395px;
                    }
                
            
            
             #btn-registro .modal-content{
            width: 700px;
                    }
                
               .modal-body {
                justify-content: space-around;
               }    
            
            /* espacio para la contraseña */
              
               .modal-body .mb-3 {
             margin-top: 1em;
               } 
            
    
            /*--FINAL DE RESEÑAS--*/

        /*--COMIENZO DE PRODUCTOS (REVISAR POS SI ACASO)--*/ 

 
   #doce-imagenes  {
    width: 100%;
   }
   

   #doce-imagenes .container  {
    width: 100%;
   }
   

   #doce-imagenes .container .col {
   padding-bottom: 2em;
   margin-left: -1em;
   width: 500px;
   }

   #doce-imagenes .container .col .coralbabies {
    width: 250px;
    height: 250px;
    background-image: url(../img/anillo_coral.jpg);
    background-size: cover;
    }
           
    
    #doce-imagenes .container .col .anillofeo {
           width: 250px;
           height: 250px;
           background-image: url(../img/anillos_metal.jpg);
           background-size: cover;
           }

   #doce-imagenes .container .col .card {
    padding-bottom: 2em;
    width: 250px;
    }

    #doce-imagenes .container .col .card .btn {
      background-color: yellowgreen;
      border: none;
      margin-left: -0.3em;
        }


       
    /*--FINAL DE PRODUCTOS--*/
   
        /*--FINAL DE PRODUCTOS--*/

        footer {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            justify-content: space-around;
            background: linear-gradient(white, rgb(162, 162, 162));
           }
        

           footer figure {
            width: 20%;
            height: 100%;
            align-content: center;
           }
        

           footer figure img {
            width:20%;
           }


        }

   /*---TAMAÑO RESPONSIVE PARA IPAD--------------------------------------------------------------------------*/
   
   @media (max-width: 820px) {

    /*--QUIENES SOMOS--*/

    header {
        width: 100%;
        
        }
        
        nav {
        position: sticky;
        }

        .modal {
            width: 500px;
            height:600px;
            }
            
            .modal-dialog {
                width: 500px;
                height:600px;
                display: flex;
            }
            
            .modal-content {
                width: 500px;
            height:600px;
            }
        
        .carousel {
        width: 100%;
        height: 230px;
        text-align: center;
        }
        
        .carousel .carousel-item{
        width: 100%;
        height: 400px;
        }
        
        .carousel .carousel-item img{
        width: 100%;
        }
        
        /* final cabecera y carrusel*/
        
        #imagenytexto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
        }
        
        #imagenytexto .texto{
        
            display: flex;
            flex-direction: column;
            padding-left: 2em;
            padding-right: 2em;
            width: 100%; 
            
        }
        
        
        
        #imagenytexto img{
        
            width: 100%;
            margin-top: 200px;
           padding: 2em;
            border-style: none;
       }
            
       #imagenytexto .texto{
        display: flex;
        flex-direction: column;
        align-content: left;
        width: 100%;
        margin: 2em;
        align-items: center;  
    }
    
    
    #imagenytexto .texto p{
        text-align: justify;
        margin-top: 2em;
        width: 80%;
        }

     /*--FINAL QUIENES SOMOS--*/

       /*--COMIENZO DE RESEÑAS--*/

       .container .card {
        width:200px;
        }
        
        #formulariocomentarios {
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: justify;
        align-items: center;
        display: flex;
        flex-direction: column;
        }
        
        #formulariocomentarios #elformulario {
            width: 50%;
            justify-content: center;
            background-color:rgb(255, 255, 255);
        }
        
        #formulariocomentarios .mb-3 {
        width: 340px;
        
        justify-content: center;
        }
        
        #formulariocomentarios .mb-3 label {
        width: 340px;
        
        
        
        }
        
        #formulariocomentarios .mb-3 input {
        width: 340px;
        
        
        
        
        }
        
        #formulariocomentarios .mb-3 textarea {
        width: 340px;
        
        
        
        
        }
              
        .btn{
            margin-bottom: 1em;
        }
        
        #liveAlertPlaceholder {
            width: 340px;
            margin-left: 3em;
        } 
        
        #formulariocomentarios #opiniones   {
        width: 456px;
        background-color:rgb(255, 255, 255);
        align-items: center;
        margin: 0;
            padding-left: 2em;
            padding-right: 2em;
        }
        
        
        
        #formulariocomentarios #opiniones .card  {
            width: 395px;
                }
            
        
        
         #btn-registro .modal-content{
        width: 700px;
                }
            
           .modal-body {
            justify-content: space-around;
           }    
        
        /* espacio para la contraseña */
          
           .modal-body .mb-3 {
         margin-top: 1em;
           } 
        

        /*--FINAL DE RESEÑAS--*/

        /*--COMIENZO DE PRODUCTOS (REVISAR POS SI ACASO)--*/ 

.cabeceraarriba  {
 width: 100%;
height: 100px;
margin-bottom: 2em;
}
    

#doce-imagenes  {
 width: 100%;
 z-index: -1;
}


#doce-imagenes .container  {
 width: 53%;
}


#doce-imagenes .container .col {
padding-bottom: 2em;
width: 100%;
}

#doce-imagenes .container .col .card {
    padding-bottom: 2em;
    width: 250px;
    }
     
    #doce-imagenes .container .col .coralbabies {
        width: 250px;
        height: 250px;
        background-image: url(../img/anillo_coral.jpg);
        background-size: cover;
        }
               
        
        #doce-imagenes .container .col .anillofeo {
               width: 250px;
               height: 250px;
               background-image: url(../img/anillos_metal.jpg);
               background-size: cover;
               }
#doce-imagenes .container .col .card .btn {
    background-color: yellowgreen;
    border: none;
    margin-left: -0.3em;
      }

    
    
/*--FINAL DE PRODUCTOS--*/


        footer {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            justify-content: space-around;
            background: linear-gradient(white, rgb(162, 162, 162));
           }
        

           footer figure {
            width: 20%;
            height: 100%;
            align-content: center;
           }
           
        
           footer figure img {
            width:25%;
           }

   }


