*{

margin: 0;
padding: 0%;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
width: 100%;
height: 500px;
margin-bottom: 5em;


}

.carousel {
background-color: antiquewhite;
text-align: center;
}

.carousel .carousel-item{
width: 100%;
height: 500px;
background-color: aqua;
}

.carousel .carousel-item img{
width: 100%;

}

/* final cabecera y carrusel*/

#imagenytexto{

display: flex;

justify-content: center;

text-align: center;


}

#imagenytexto .texto{

    display: flex;
    flex-direction: column;
   
    width: 100%;
    margin: 2em;
    
    
}



#imagenytexto img{

    width: 50%;
    margin: 2em;
    border-style: none;
    
    }

/* cabecera en productos*/
  .cabeceraarriba  {
        width: 100%;
        height: 100px;
        margin-bottom: 2em;
        
        }

.container {
background-color: aqua;
margin: 2em;
}

.coralbabies {
width: 400px;
height: 400px;
background-image: url(../img/anillo_coral.jpg);
background-size: cover;
}

.anillofeo {
width: 400px;
height: 400px;
background-image: url(../img/anillos_metal.jpg);
background-size: cover;
}

.container .card {
background-color: aquamarine;
width:400px;
}

#formulariocomentarios {

justify-content: space-around;
height: 100%;
justify-content: center;
display: flex;
background-color: aqua;
}

#formulariocomentarios #elformulario {

width: 50%;
}

#formulariocomentarios .mb-3 {
width: 75%;
background-color: aquamarine;
margin-left: 3em;
justify-content: center;
}

#formulariocomentarios .mb-3 label {
width: 75%;



}

#formulariocomentarios .mb-3 input {
width: 75%;




}

#formulariocomentarios .mb-3 textarea {
width: 75%;




}
      
.btn{
    margin-left: 3em;
}

#liveAlertPlaceholder {

    width: 75%;
    margin-left: 3em;
}

#formulariocomentarios #opiniones   {
width: 50%;

margin-right: 2em;
    }



#formulariocomentarios #opiniones .card  {

  margin-bottom: 1em;
    margin-right: 1.5em;
        }
    


 #btn-registro .modal-content{

width: 700px;

        }
    
   .modal-body {

    justify-content: space-around;
   }    

/* espacio para la contraseña */
  
   .modal-body .mb-3 {

 margin-top: 1em;

   }    